1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [1]:
 import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
print(df)

     A      B         C         D
0  foo    one  0.291087  0.132729
1  bar    one -0.053936  0.582562
2  foo    two  1.044304 -0.209078
3  bar  three  0.796555  1.829976
4  foo    two  1.345474  0.054388
5  bar    two  0.243146  0.647059
6  foo    one -1.014999 -2.044901
7  foo  three  0.724315  0.031141

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
print(df)

     A      B         C         D
0  foo    one  0.627469 -1.500227
1  bar    one -0.676955  2.820392
2  foo    two  0.744636 -1.667704
3  bar  three -0.126635 -0.272664
4  foo    two  0.009284 -0.071585
5  bar    two -0.938386 -0.617531
6  foo    one  0.548279  1.663111
7  foo  three  0.638524  1.093462